flows(1).json
[{"id":"2e34ed2f.506f72","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16a344db.eb7c1b","type":"function","z":"2e34ed2f.506f72","name":"PreToken","func":"global.set(\"rn\",msg.payload.rn)\nglobal.set(\"cid\",msg.payload.cid)\nglobal.set(\"sn\",msg.payload.sn)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"geo\",msg.payload.geo)\nglobal.set(\"gen\",msg.payload.gen)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"ten\",msg.payload.ten)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"cr\",msg.payload.cr)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"es\",msg.payload.es)\nvar apikey=\"x5r16PlrjpkdwvUkDuLKVqGkERMHQUELqsGLU-yaEtzp\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":480,"wires":[["d25d34f7.3129b8"]]},{"id":"d25d34f7.3129b8","type":"http request","z":"2e34ed2f.506f72","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":619,"y":468.9999952316284,"wires":[["30628cd6.8c2d64"]]},{"id":"eaf8779a.c8b9e8","type":"debug","z":"2e34ed2f.506f72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1058.0000114440918,"y":210.99999713897705,"wires":[]},{"id":"30628cd6.8c2d64","type":"function","z":"2e34ed2f.506f72","name":"Pre Prediction","func":"var rn = global.get('rn')\nvar cid = global.get('cid')\nvar sn = global.get('sn')\nvar cs = global.get('cs')\nvar geo = global.get('geo')\nvar gen = global.get('gen')\nvar age = global.get('age')\nvar ten = global.get('ten')\nvar bal = global.get('bal')\nvar nop = global.get('nop')\nvar cr = global.get('cr')\nvar am = global.get('am')\nvar es = global.get('es')\nvar token=msg.payload.access_token\nvar instance_id=\"a80e62c5-f75c-4b90-a0e9-42f7ef734727\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\",\"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\",\"IsActiveMember\",\"EstimatedSalary\"], \"values\": [[rn,cid,sn,cs,geo,gen,age,ten,bal,nop,cr,am,es]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":816.0000076293945,"y":431.9999990463257,"wires":[["1fb26eb8.a134f1"]]},{"id":"1fb26eb8.a134f1","type":"http request","z":"2e34ed2f.506f72","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/a187a68c-c34c-4f35-bc3b-5bd0dd767aa6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":909.5000076293945,"y":375.9999990463257,"wires":[["a53172f0.4a888"]]},{"id":"86fcc7be.6e3778","type":"ui_form","z":"2e34ed2f.506f72","name":"","label":"","group":"625e3e4f.9caf4","order":1,"width":0,"height":0,"options":[{"label":"RowNumber","value":"rn","type":"number","required":true,"rows":null},{"label":"CustomerId","value":"cid","type":"number","required":true,"rows":null},{"label":"Surname","value":"sn","type":"text","required":true,"rows":null},{"label":"CreditScore","value":"cs","type":"number","required":true,"rows":null},{"label":"Geography","value":"geo","type":"text","required":true,"rows":null},{"label":"Gender","value":"gen","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Tenure","value":"ten","type":"number","required":true,"rows":null},{"label":"Balance","value":"bal","type":"number","required":true,"rows":null},{"label":"NumOfProducts","value":"nop","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"cr","type":"number","required":true,"rows":null},{"label":"IsActiveMember","value":"am","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"rn":"","cid":"","sn":"","cs":"","geo":"","gen":"","age":"","ten":"","bal":"","nop":"","cr":"","am":"","es":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":211,"y":522.9999952316284,"wires":[["16a344db.eb7c1b"]]},{"id":"afd373a.a83879","type":"ui_text","z":"2e34ed2f.506f72","group":"625e3e4f.9caf4","order":2,"width":0,"height":0,"name":"","label":"Exited","format":"{{msg.payload}}","layout":"row-spread","x":937.6000366210938,"y":528.2000074386597,"wires":[]},{"id":"a53172f0.4a888","type":"function","z":"2e34ed2f.506f72","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":769.6000366210938,"y":271.60000133514404,"wires":[["afd373a.a83879","eaf8779a.c8b9e8"]]},{"id":"625e3e4f.9caf4","type":"ui_group","z":"","name":"Telecom Customer Churn Prediction","tab":"609c9233.27fcbc","order":1,"disp":true,"width":"6","collapse":false},{"id":"609c9233.27fcbc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]